<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f904af2d-b2f7-47d2-950f-294f1a7eeb1a/resourceGroups/GraphPloter20190407043851ResourceGroup/providers/Microsoft.Web/sites/TelBotGraph</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://telbotgraph.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>telbotgraph.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TelBotGraph</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TelBotGraph</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>